apiVersion: apps/v1
kind: Deployment

metadata:
  name: notesappdeploy
  namespace: notesapp
  labels:    #Optional metadata labels not mandatory, no need to match anything
    app: notesapp

#Deployment spec
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notesapp

#Pod template which consists of metadata and spec and labels inside metadata
  template:
    metadata:
      name: notesapppod
      labels:
        app: notesapp

#Pod spec
    spec:
      containers:
      - name: notesappcont
        image: chintan0206/notes-app:latest
        ports:
        - containerPort: 8000   # application listens on this port
        # Health checks using livenessProbe and readinessProbe

        livenessProbe:
          httpGet:
            path: /
            port: 8000

        readinessProbe:
          httpGet:
            path: /
            port: 8000

