# Namespace
apiVersion: v1
kind: Namespace
metadata:
  name: mysql

---

# ConfigMap (non-sensitive values)
apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
  namespace: mysql
data:
  MYSQL_DATABASE: cloud
  MYSQL_USER: cloudgeek

---

# (optional) Secret for passwords - recommended instead of storing in ConfigMap
apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: mysql
data:
  MYSQL_ROOT_PASSWORD: YWRtaW4xMjM=   # base64 for 'admin123'
  MYSQL_PASSWORD: Y2hpbnRhbjEyMw==   # base64 for 'chintan123'
  
---

# Headless Service for StatefulSet
apiVersion: v1
kind: Service
metadata:
  name: mysql-svc
  namespace: mysql
spec:
  selector:
    app: mysql
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306
  clusterIP: None
  
---

# StatefulSet for MySQL using ConfigMap + Secret
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysqlsset
  namespace: mysql
spec:
  replicas: 2
  serviceName: mysql-svc
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3306

          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:       # Refering from Secret 
                  name: mysql-secret
                  key: MYSQL_ROOT_PASSWORD
                  
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:       # Refering from Secret
                  name: mysql-secret
                  key: MYSQL_PASSWORD

            - name: MYSQL_USER
              valueFrom:
                configMapKeyRef:      # Refering from ConfigMap
                  name: mysql-config
                  key: MYSQL_USER

            - name: MYSQL_DATABASE
              valueFrom:
                configMapKeyRef:       # Refering from ConfigMap
                  name: mysql-config
                  key: MYSQL_DATABASE

